
* {
    margin: 0;
    }
  
body {
    background-image: url('https://pierresstore.s3.us-east-2.amazonaws.com/stardewbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

h1 {
    font-size: 1rem;
    color: white;
  }

h3 {
    font-size: 1rem;
  }

.searchBorder {
  border:6px solid rgba(0, 0, 0, 0);
  border-block-end-color:rgba(0, 0, 0, 0);
  border-bottom-left-radius:0px;
  border-bottom-right-radius:8px;
  border-collapse:separate;
  border-end-end-radius:8px;
  border-end-start-radius:0px;
  border-image-outset:0;
  border-image-repeat:stretch;
  border-image-slice:15;
  border-image-source:url(https://stardewvalleywiki.com/mediawiki/extensions/StardewValley/images/menu_border.png);
  border-image-width:1;
  border-start-end-radius:8px;
  border-start-start-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:8px;
}